<span class="md-padding"></span> <div layout="row" layout-margin layout-align="center center" ng-controller="WidgetLiveChartController as vm"> <canvas id="{{chartId}}" width="1000"></canvas> </div> <span class="md-padding"></span>