<span class="md-padding"></span> <div layout="row" layout-align="center center" ng-controller="WidgetOnOffController as vm"> <img ng-src="/images/{{vm.typeImg| typeToImage}}" alt="{{vm.typeImg| typeToImage}}"> </div> <span class="md-padding"></span>